<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h3>1. 반복문</h3>
  {% for menu in menus %}
    <p>{{menu}}</p>
  {% endfor %}
  <hr>
  {% for menu in menus %}
    <p>{{ forloop.counter }}번째 생선 {{ menu }}</p>
  {% endfor %}
  <hr>
  {% for user in empty_list %}
    <p>{{ user }}</p>
  {% empty %}
    <p>현재 가입된 유저가 없습니다.</p>
  {% endfor %}
  <hr>
  <h3>2. 조건문</h3>
  {% if '광어' in menus %}
    <p>광어는 지느러미가 고소합니다.</p>
  {% endif %}

  {% for menu in menus %}
    {{ forloop.counter }}번째 도는 중
    {% if forloop.first %}
      <p>첫 생선은...?</p>
      <p>{{ menu }}</p>
    {% else %}
      <p>{{ menu }}</p>
    {% endif %}
  {% endfor %}

  <hr>
  <h3>3. lorem ipsum</h3>
  {% lorem %}
  <hr>
  {% lorem 3 w %}
  <hr>
  {% lorem 4 w random %}
  <hr>
  {% lorem 2 p %}
  <hr>

  <h3>4. 날짜 표현</h3>
  {{ datetimenow }} <br>
  {% now "DATETIME_FORMAT" %} <br>
  {% now "SHORT_DATETIME_FORMAT" %} <br>
  {% now "DATE_FORMAT" %} <br>
  {% now "SHORT_DATE_FORMAT" %}
  <hr>
  {% now "Y년 m월 d일 (D) h시 i분" %} <br>
  
  {% load l10n %}

{% localize off %}
  {% now "Y년 m월 d일 (D) A h:i" %}
{% endlocalize %}


  {% now "Y년 m월 d일 (D) A h:i" %}
  <hr>
  {% now "Y" as current_year %}
  COPYRIGHT. {{ current_year }}
  <hr>
  {{ datetimenow|date:"SHORT_DATE_FORMAT" }}
  <hr>
  <h3>5. template filter</h3>

  {% for message in messages %}
    {% if message|length > 5 %}
      <p>{{ message }}가 너무 깁니다.</p>
    {% else %}
      <p>{{ message }}는 {{ message|length }}글자입니다. </p>
    {% endif %}
  {% endfor %}

  <h3>6. 문자열의 글자 수 제한: truncate</h3>
  <p>{{ my_sentence|truncatewords:3 }}</p>
  <p>{{ my_sentence|truncatechars:10 }}</p>
  <hr>

  <h3>7. 글자 관련 필터</h3>
  <p>{{ 'abc'|length }}</p>
  <p>{{ 'ABC'|lower }}</p>
  <p>{{ my_sentence|title }}</p>
  <p>{{ menus|random }}</p>

  {% comment %} 주석입니다. {% endcomment %}

</body>
</html>